.comment-parent-container {
    display: flex;
    flex-direction: column;
    margin: 20px 5px 10px 5px;
}

.date {
    display: flex;
}

p {
    padding-left: 4px;
    padding-right: 4px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
    padding-bottom: 1px;
}

button:hover {
    cursor: pointer;
}

#new-note-box {
    border: solid rgb(112, 111, 111) 2px;
    border-radius: 5px;
}

.update-btn {
    border-radius: 5px;
    background-color: #B7C1C0;
}

.update-btn:hover {
    background-color: rgb(128, 126, 126);
    cursor: pointer;
}