.favorite-trail-info {
    background-color: rgb(234, 234, 234);
    min-height: 150px;
    width: 250px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(101, 101, 101);
    border-radius: 4%;
}

.heart-button {
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}

.heart-button:hover {
    cursor: pointer;
}

.fav-trail-h2 {
    margin-bottom: 0;
}

.fav-trail-h5 {
    margin-bottom: 5px;
}

.fav-trail-h6 {
    margin-top: 0px;
}

#note-box {
    border: solid rgb(112, 111, 111) 2px;
    border-radius: 10px;
}

.fav-add-note-btn {
    border-radius: 10px;
    background-color: #b8c9bb;
}

.add-note-btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

