.mountain-image {
    background-size: cover;
    background-position: center center;
    background-image: url(https://drive.google.com/uc?export=view&id=1_kSBhDg-4XMJycFMmJNnpWBLh46a30Bw);
    min-height: 500px;
}

.sign-in-btn-container{
    margin-top: 90px;
    padding: 80px 0 80px 0;
    background-color: #dde0d760;
}

@media screen and (max-width: 480px) {
    .sign-in-btn-container {
        width: 100%;
    }
}

.sign-in-btn {
    font-size: 35px;
    height: 8vh;
    width: 30%;
    margin: 30px;
    border: solid;
    border-radius: 10px;
    background-color: #B7C1C0;
    color:rgb(9, 35, 7);
    transition-duration: 0.2s;
}

@media screen and (max-width: 390px) {
    .sign-in-btn {
        font-size: 8vw;
    }
}

.sign-in-btn:hover {
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}

.map-image-container {
    height: 670px;
}

.map-image {
    padding-top: 140px;
    height: 33vh;
    width: 50vw;
}

