header {
  height: 93px;
  background-color: #435249;
  text-align: center;
  /* opacity: .78; */
  /* display: flex;
  flex-wrap: nowrap;
  align-items: center; */
  /* justify-content: space-between;
  align-content: flex-start;
  text-align: center; */
}

.bike-img {
  height: 85px;
  float: left;
  padding-top: 7px;
}

.page-name-link {
  text-decoration: none;
 
}

.page-title {
  text-align: center;
  margin: auto;
  font-weight: 500px;
  color: #dcd4c0;
  vertical-align: middle;
  padding-top: 25px;
  padding-right: 90px;
}
