header {
  height: 95px;
  background-color: #65826c;
  /* opacity: .78; */
  /* display: flex;
  flex-wrap: nowrap;
  align-items: center; */
  /* justify-content: space-between;
  align-content: flex-start;
  text-align: center; */
}

.bike-img {
  height: 70px;
  float: left;
  padding-top: 7px;
  padding-left: 5px;
}

.page-name-link {
  text-decoration: none;
  color: rgb(210, 193, 148);
  font-size: 50px;
  font-weight: 500;
  /* margin: auto; */
  padding: 0px 0px 0px 0px;
  text-align: center;
  /* flex-grow: .8; */
}