header {
  height: 93px;
  background-color: #435249;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bike-img {
  position: absolute;
  left: 0;
  height: 85px;
  top: 7px;
}

.page-name-link {
  text-decoration: none;
 
}

.page-title {
  text-align: center;
  margin: auto;
  font-size: 35px;
  color: #dcd4c0;
  vertical-align: middle;
  font-family: 'Michroma', sans-serif;
}

