.trail-info {
    background-color: rgb(243, 243, 243);
    min-height: 400px;
    width: 330px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(51, 51, 51, 0.864);
    border-radius: 4%;
}

@media screen and (max-width: 420px) {
    .trail-info {
        width: 80%;
        height: 80%;
    }
}

.heart-button {
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
}

.heart-button:hover {
    cursor: pointer;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h5 {
    margin-bottom: 5px;
}


h6 {
    margin-top: 0px;
}

#note-box {
    border: solid rgb(112, 111, 111) 2px;
    border-radius: 10px;
}

.add-note-btn {
    border-radius: 5px;
    background-color: #B7C1C0;
}

.add-note-btn:hover {
    background-color: rgb(128, 126, 126);
    cursor: pointer;
}

textarea {
    max-width: 90%;
}