.trail-info {
    background-color: rgb(234, 234, 234);
    min-height: 400px;
    width: 370px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(101, 101, 101);
    border-radius: 4%;
}

@media screen and (max-width: 420px) {
    .trail-info {
        width: 80%;
        height: 80%;
    }
}


.heart-button {
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}

.heart-button:hover {
    cursor: pointer;
}


h2 {
    margin-bottom: 0;
}

h5 {
    margin-top: 15px;
    margin-bottom: 50px;
}

#note-box {
    border: solid rgb(112, 111, 111) 2px;
    border-radius: 10px;
}

.add-note-btn {
    border-radius: 5px;
    background-color: #B7C1C0;
}

.add-note-btn:hover {
    background-color: rgb(128, 126, 126);
    cursor: pointer;
}

