.nav-container {
    height: 5.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DDDFDC;
}

@media screen and (max-width: 412px) {
    .nav-container {
        flex-direction: column;
        padding: 10px;
    }
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav-link:hover {
    color: #4b6050;
}